@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 107px 107px;
  column-gap: 30px;
  row-gap: 30px;
}

button,
.label {
  font-size: 96px;
  line-height: 85px;
}

button {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 20px;
}
